.login-container {
    display: flex;
    justify-content: center; // Centra horizontalmente
    align-items: center;     // Centra verticalmente
    height: 100%;            // Asegura que ocupe toda la altura del ion-content
    width: 100%;             // Asegura que ocupe todo el ancho
    background-color: var(--ion-color-tropera-verde);
  }
  
  .login-card {
    max-width: 450px; // Ancho máximo de la tarjeta para pantallas grandes
    width: 90%;      // Ocupa el 90% del ancho en pantallas más pequeñas
    // Puedes añadir sombras o bordes si quieres:
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // border-radius: 10px;
  }

  .image-container {
    text-align: center; // Centra la imagen si es un elemento inline o inline-block
    margin-top: 15px;   // Espacio encima de la imagen
    margin-bottom: 15px; // Espacio debajo de la imagen
  }
  
  .login-logo {
    max-width: 150px; // Limita el ancho máximo de tu logo (ajustalo según el tamaño de tu imagen)
    height: auto;     // Mantiene la proporción de la imagen
    display: block;   // Asegura que ocupe su propio bloque para centrado con margin
    margin: 0 auto;   // Centra la imagen si es un elemento de bloque
  }

  /* Estilos para el botón fab con texto */
  ion-fab-button ion-label {
    display: block; // O inline-block, dependiendo de cómo quieras el layout
    margin-left: 8px; // Espacio entre el ícono y el texto
    font-size: 0.9em; // Ajusta el tamaño de la fuente si es necesario
    font-weight: bold;
  }
  
  ion-fab-button {
    --border-radius: 28px; /* Hazlo redondo en los bordes, pero no completamente circular */
    width: auto;           /* Permite que el ancho se ajuste al contenido */
    min-width: 140px;      /* Establece un ancho mínimo para que el texto quepa */
    height: 56px;          /* Altura estándar de un FAB */
    --padding-start: 16px; /* Ajusta el padding interno */
    --padding-end: 16px;
    
    // Aseguramos que el contenido (ícono y label) se alinee correctamente
    display: flex;
    align-items: center;
    justify-content: center;
  
    ion-icon {
      margin-right: 8px; // Espacio entre el ícono y el texto
      font-size: 24px;   // Tamaño del ícono, puedes ajustarlo
    }
  
    ion-label {
      display: inline-block; // Asegura que el label sea visible
      font-size: 16px;       // Tamaño del texto, puedes ajustarlo
      font-weight: 500;      // Grosor de la fuente
      // color: var(--ion-color-primary-contrast); // Si quieres un color de texto específico
    }}
  